<form action="users/login" method="post">
  <label>User ID: </label>
  <input type="text" name="l_user_id" placeholder="User ID" />

  <label>Password: </label>
  <input type="text" name="l_password" placeholder="Password" />

  <input type="submit" value="Log In" />
</form>
