<form action="users/register" method="post">
  <label class='register_label'>Full name: </label>
  <input type="text" name="name" placeholder="Full name" /><br />

  <label class='register_label'>Street Address: </label>
  <input type="text" name="address" placeholder="Street Address" /><br />

  <label class='register_label'>City: </label>
  <input type="text" name="city" placeholder="City" /><br />

  <label class='register_label'>State: </label>
  <input type="text" name="state" placeholder="State" /><br />

  <label class='register_label'>Zipcode: </label>
  <input type="text" name="zip" placeholder="Zipcode" /><br />

  <label class='register_label'>Country: </label>
  <input type="text" name="country" placeholder="Country" /><br />

  <label class='register_label'>Email: </label>
  <input type="text" name="email" placeholder="Email" /><br />

  <label class='register_label'>User ID: </label>
  <input type="text" name="user_id" placeholder="User ID"/><br />

  <label class='register_label'>Password: </label>
  <input type="text" name="password" placeholder="Password"/><br />

  <input type="submit" value="Submit" />
</form>
